{% extends 'base.html' %} {% block content%}

<h1>Spell Details</h1>

<div class="card">
    <a href="{% url 'spells_detail' spell.id %}">
        <div class="card-content">
            <span class="card-title">
            <span>Spell Name:  {{ spell.name }}</span> 
                  Spell Action:  {{ spell.action }}
            </span>
        </div>
        <div class="card-action">
            <a href="{% url 'spells_update' spell.id %}">Edit</a>
            <a href="{% url 'spells_delete' spell.id %}">Delete</a>
        </div>
    </a>
</div>

{% endblock %}